.flashBox{
	width: 100%;
}
	.flashBox-error{
		background-color: red;
	}
	.flashBox-success{
		background-color: green;
	}
	.flashBox__message{
		text-align: center;
		color: white;
		font-size: 1.2em;
		padding: 10px;
	}