{% block form %}
    <div class="form-section form-section-filds"> 
    {% block form_fields %}
    {% endblock form_fields %}
    </div>
    <div class="form-section form-section-buttons" >
    {% block form_buttons %}
    {% endblock form_buttons %}
    </div>
{% endblock form %}

