{% extends "layout.twig" %}


{% block mainContent %}
    <section class="block">
        {%  block content_header %}
            <h1 class="block__title block__title-center">{% block content_title %}{% endblock content_title %}</h1>
        {% endblock content_header %}
        
        {% block content %}
        {% endblock content %}
    </section>
{% endblock mainContent %}