{%  extends "layout.twig" %}

{% block mainContent %}
    <section class="block">
        <div class="contact">    
            <article class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.292587446546!2d5.569591090737914!3d50.640257038926634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb40b5288c9662b1c!2sEcole%20de%20Commerce%20et%20d&#39;Informatique!5e0!3m2!1sen!2sbe!4v1571984748302!5m2!1sen!2sbe"></iframe>
            </article>

            <article class="contact-information">
                <h2>John Car S.A</h2>
                <address>
                    <p>2, Rue Hazinelle</p>
                    <p>4000 Liege</p>
                    <p>Belgium</p>
                    <a href="mailto:johnCarCompany@gmail.com">johnCareCompany@gmail.com</a><br/>
                    <a href="tel:+3210441178">010.44.11.78</a><br/>
                    <a href="tel:+32478621212">0478.62.12.12</a>
                </address>
            </article>
        </div>
    </section>
{% endblock mainContent %}
